<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"><bean id="carBean" class="org.beans.xml.Car"/>

    <bean class="org.beans.xml.Car" id="carName">
        </bean>
<bean class="org.beans.xml.Student" id="stdId">
    <property name="name"  value="Aditi" />
    <property name="email" value="raiaditi2018@gmail.com" />
    <property name="rollNo" value="21" />

</bean>
</beans>